<nav class="navbar">
    <div class="container-fluid">
     
      <div class="d-flex" style="gap:30px">
        <div id="div_switch_sidebar" [ngClass]="{'closed':state_side_bar}" (click)="ToggleSidebar()" style="margin: auto; cursor: pointer;" class="container-sidebar-toggle d-none d-md-block"  container="body">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            
        </div>
          <a class="logo_header" href="#">Loan Management System</a>
        </div>

      <div class="dropdown">
        <button class="dropbtn"> 
          <span class="user_name">RV</span>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> 
    </div>
  </nav>
