.header{
    position: relative;
    top:0;
    width:100%;
    background-color: var(--default);
    height: 65px;
    padding:0 0.5rem;
    color:#fff;
}

.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-image: var(--default_gradient);
        padding: 10px 0;
    font-size: 15px;
    line-height: 5px;
    text-align: center;
    color:#fff;
    z-index: 999;
}
.main_section{
    height: calc(100% - 65px);
}