.sidebar {
    position: fixed;
    top: 65px;
    left: 0;

    width: 220px;
    background: white;
    z-index: 100;
    transition: all 0.5s ease;
    height: 100%;
    /* background: rgb(148,215,233); */
    background: var(--default_gradient)
  }

  .home-section{
    position: relative;

    /* background-image: radial-gradient(circle farthest-corner at 7.2% 13.6%, #25f9f5 0%, #0846da 90%); */
    height: 100%;
    left: 220px;

    width: calc(100% - 230px);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    margin:10px;
  }