@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Muli';
}

:root {
    --default: rgba(58,146,180,1);
    --dark: black;
    --default_gradient:linear-gradient(180deg, rgba(58,146,180,1) 0%, rgba(148,215,233,1) 90%, rgba(148,215,233,1) 100%);
  }