@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Muli';
}

:root {
    --default: #1e90ff;
    --dark: black;
  }